<a href="https://colab.research.google.com/github/AdrianAlbrecht/Collab/blob/main/Biolog_naprawa_pliku.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import glob

In [4]:
# Ścieżka do katalogu zawierającego pliki CSV
sciezka_do_katalogu = ''
# Zidentyfikuj pliki CSV w danym katalogu
pliki_csv = glob.glob(sciezka_do_katalogu + '*.csv')

In [7]:
ramka_danych = pd.concat((pd.read_csv(plik, sep=";", header=None) for plik in pliki_csv), ignore_index=True)
ramka_danych

,0,1,2,3,4,5,6,7,8,9,...,245,246,247,248,249,250,251,252,253,254
0,Aeluropus.lagopoides (MK622397.1),18,A,G,G,G,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Aeluropus.lagopoides (MK622397.1),18,A,G,G,G,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Aeluropus.lagopoides (MK622397.1),244,A,G,G,G,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Aeluropus.lagopoides (MK622397.1),1681,A,G,G,G,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Aeluropus.lagopoides (MK622397.1),1746,G,C,C,C,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4226,Setaria.viridis (KT289405.1),113697,-,C,C,C,C,C,C,C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4227,Setaria.viridis (KT289405.1),113698,-,G,G,T,G,G,G,G,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4228,Setaria.viridis (KT289405.1),115871,-,A,A,T,A,A,A,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4229,Setaria.viridis (KT289405.1),115872,-,A,A,A,A,A,A,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4230,Setaria.viridis (KT289405.1),116652,A,T,T,T,T,T,T,T,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
# Usuń kolumny zawierające same NaN
ramka_danych = ramka_danych.dropna(axis=1, how='all')
ramka_danych

,0,1,2,3,4,5,6,7,8,9,10,11
0,Aeluropus.lagopoides (MK622397.1),18,A,G,G,G,NaN,NaN,NaN,NaN,NaN,NaN
1,Aeluropus.lagopoides (MK622397.1),18,A,G,G,G,NaN,NaN,NaN,NaN,NaN,NaN
2,Aeluropus.lagopoides (MK622397.1),244,A,G,G,G,NaN,NaN,NaN,NaN,NaN,NaN
3,Aeluropus.lagopoides (MK622397.1),1681,A,G,G,G,NaN,NaN,NaN,NaN,NaN,NaN
4,Aeluropus.lagopoides (MK622397.1),1746,G,C,C,C,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
4226,Setaria.viridis (KT289405.1),113697,-,C,C,C,C,C,C,C,C,C
4227,Setaria.viridis (KT289405.1),113698,-,G,G,T,G,G,G,G,G,T
4228,Setaria.viridis (KT289405.1),115871,-,A,A,T,A,A,A,A,A,T
4229,Setaria.viridis (KT289405.1),115872,-,A,A,A,A,A,A,A,A,A
4230,Setaria.viridis (KT289405.1),116652,A,T,T,T,T,T,T,T,T,T

In [25]:
# Zidentyfikuj unikalne wartości w pierwszej kolumnie
unikalne_wartosci = ramka_danych.iloc[:, 0].unique()
# Stwórz słownik, gdzie klucze to unikalne wartości, a wartościami są ramki danych
ramki_danych_slownik = {wartosc: ramka_danych[ramka_danych.iloc[:, 0] == wartosc] for wartosc in unikalne_wartosci}
for klucz, ramka in ramki_danych_slownik.items():
  # Usuwamy NaN'y
  ramka = ramka.dropna(axis=1, how='all')
  # Dzielimy na Single i Multi
  ramka['Single/Multi'] = 'Multi'
  indeksy_multi = ramka[(ramka.iloc[:, 1].diff() != 1) & (ramka.iloc[:, 1].shift(-1).diff() != 1)].index
  ramka.loc[indeksy_multi, 'Single/Multi'] = 'Single'
  # Określamy operację
  # insercja T - - - - -
  # delecja - T T T T T
  # substytucja C A A A A A
  # mixed A C T G C C C A
  ramka['Operation'] = 'Mixed'
  # Znajdź indeksy, gdzie kolumna 3 ma wartość inna niż "-" oraz kolumny od 4 w górę (oprócz ostatniej) są identyczne
  indeksy_insertion = ramka[(ramka.iloc[:, 2] != '-') & (ramka.iloc[:, 3:-2].apply(lambda x: len(x.unique()) == 1))].index
  # Ustaw wartość "Insertion" dla odpowiednich wierszy w kolumnie "Operation"
  ramka.loc[indeksy_insertion, 'Operation'] = 'Insertion'
  print(ramka)

                                     0       1  2  3  4  5 Single/Multi  \
0    Aeluropus.lagopoides (MK622397.1)      18  A  G  G  G       Single
1    Aeluropus.lagopoides (MK622397.1)      18  A  G  G  G       Single
2    Aeluropus.lagopoides (MK622397.1)     244  A  G  G  G       Single
3    Aeluropus.lagopoides (MK622397.1)    1681  A  G  G  G       Single
4    Aeluropus.lagopoides (MK622397.1)    1746  G  C  C  C       Single
..                                 ...     ... .. .. .. ..          ...
258  Aeluropus.lagopoides (MK622397.1)  113507  A  G  G  G       Single
259  Aeluropus.lagopoides (MK622397.1)  113901  A  T  T  T       Single
260  Aeluropus.lagopoides (MK622397.1)  113957  C  T  T  T       Single
261  Aeluropus.lagopoides (MK622397.1)  114657  A  G  G  G       Single
262  Aeluropus.lagopoides (MK622397.1)  114778  G  A  A  A       Single

    Operation
0       Mixed
1       Mixed
2       Mixed
3       Mixed
4       Mixed
..        ...
258     Mixed
259     Mixed
260     Mixed
261     Mixed
262     Mixed

[263 rows x 8 columns]
                                     0       1  2  3  4  5 Single/Multi  \
263  Aeluropus.littoralis (MT040977.1)    1465  G  C  C  C       Single
264  Aeluropus.littoralis (MT040977.1)    1563  -  T  T  T       Single
265  Aeluropus.littoralis (MT040977.1)    2425  T  C  C  C       Single
266  Aeluropus.littoralis (MT040977.1)    3760  -  A  A  A       Single
267  Aeluropus.littoralis (MT040977.1)    4194  -  G  G  G       Single
..                                 ...     ... .. .. .. ..          ...
451  Aeluropus.littoralis (MT040977.1)  112269  C  G  G  G       Single
452  Aeluropus.littoralis (MT040977.1)  112512  G  A  A  A       Single
453  Aeluropus.littoralis (MT040977.1)  112625  T  G  G  G       Single
454  Aeluropus.littoralis (MT040977.1)  112787  T  C  C  C       Single
455  Aeluropus.littoralis (MT040977.1)  112884  T  C  C  C       Single

    Operation
263     Mixed
264     Mixed
265     Mixed
266     Mixed
267     Mixed
..        ...
451     Mixed
452     Mixed
453     Mixed
454     Mixed
455     Mixed

[193 rows x 8 columns]
                                    0       1  2  3  4  5  6 Single/Multi  \
456   Aeluropus.sinensis (MW194080.1)     586  T  C  C  C  C       Single
457   Aeluropus.sinensis (MW194080.1)     985  G  A  A  A  A       Single
458   Aeluropus.sinensis (MW194080.1)    1707  C  T  T  T  T       Single
459   Aeluropus.sinensis (MW194080.1)    1710  A  G  G  G  G       Single
460   Aeluropus.sinensis (MW194080.1)    2152  C  A  A  A  A       Single
...                               ...     ... .. .. .. .. ..          ...
1153  Aeluropus.sinensis (MW194080.1)  113916  G  A  A  A  A       Single
1154  Aeluropus.sinensis (MW194080.1)  114201  G  A  A  A  A       Single
1155  Aeluropus.sinensis (MW194080.1)  114210  C  T  T  T  T       Single
1156  Aeluropus.sinensis (MW194080.1)  114507  A  G  G  G  G       Single
1157  Aeluropus.sinensis (MW194080.1)  114538  C  G  G  G  G       Single

     Operation
456      Mixed
457      Mixed
458      Mixed
459      Mixed
460      Mixed
...        ...
1153     Mixed
1154     Mixed
1155     Mixed
1156     Mixed
1157     Mixed

[702 rows x 9 columns]
                                  0       1  2  3  4  5  6  7  8  9 10 11  \
1158  Setaria.geminata (KU291476.1)       9  C  T  T  T  T  T  T  T  T  T
1159  Setaria.geminata (KU291476.1)       9  C  T  T  T  T  T  T  T  T  T
1160  Setaria.geminata (KU291476.1)      35  C  T  T  T  T  T  T  T  T  T
1161  Setaria.geminata (KU291476.1)      47  C  T  T  T  T  T  T  T  T  T
1162  Setaria.geminata (KU291476.1)     117  A  G  G  G  G  G  G  G  G  G
...                             ...     ... .. .. .. .. .. .. .. .. .. ..
3094  Setaria.geminata (KU291476.1)  118043  G  T  T  T  T  T  T  T  T  T
3095  Setaria.geminata (KU291476.1)  118209  C  A  A  A  A  A  A  A  A  A
3096  Setaria.geminata (KU291476.1)  118240  C  G  G  G  G  G  G  G  G  G
3097  Setaria.geminata (KU291476.1)  118338  G  A  A  A  A  A  A  A  A  A
3098  Setaria.geminata (KU291476.1)  118359  A  G  G  G  G  G  G  G  G  G

     Single/Multi Operation
1158       Single     Mixed
1159       Single     Mixed
1160       Single     Mixed
1161       Single     Mixed
1162       Single     Mixed
...           ...       ...
3094       Single     Mixed
3095       Single     Mixed
3096       Single     Mixed
3097       Single     Mixed
3098       Single     Mixed

[1941 rows x 14 columns]
                                 0       1  2  3  4  5  6 Single/Multi  \
3099  Setaria.italica (KF646538.1)    2281  T  C  C  C  C       Single
3100  Setaria.italica (KF646538.1)    6407  T  -  C  -  C       Single
3101  Setaria.italica (KF646538.1)    6410  G  -  C  -  C       Single
3102  Setaria.italica (KF646538.1)   14424  G  -  A  -  A       Single
3103  Setaria.italica (KF646538.1)   14667  -  A  A  A  A        Multi
3104  Setaria.italica (KF646538.1)   14668  -  A  A  A  A        Multi
3105  Setaria.italica (KF646538.1)   18790  G  -  A  -  A       Single
3106  Setaria.italica (KF646538.1)   38962  A  T  T  T  T       Single
3107  Setaria.italica (KF646538.1)   44605  T  C  C  C  C       Single
3108  Setaria.italica (KF646538.1)   47046  C  -  -  -  -        Multi
3109  Setaria.italica (KF646538.1)   47047  A  -  -  -  -        Multi
3110  Setaria.italica (KF646538.1)   47048  T  -  -  -  -        Multi
3111  Setaria.italica (KF646538.1)   47049  A  -  -  -  -        Multi
3112  Setaria.italica (KF646538.1)   47050  C  -  -  -  -        Multi
3113  Setaria.italica (KF646538.1)   49563  C  A  A  A  A       Single
3114  Setaria.italica (KF646538.1)   53437  C  A  -  A  -       Single
3115  Setaria.italica (KF646538.1)   57534  T  -  -  -  -       Single
3116  Setaria.italica (KF646538.1)   59412  C  -  T  -  T       Single
3117  Setaria.italica (KF646538.1)   68544  T  -  -  -  -       Single
3118  Setaria.italica (KF646538.1)   71685  -  G  G  G  G        Multi
3119  Setaria.italica (KF646538.1)   71686  -  G  A  G  A        Multi
3120  Setaria.italica (KF646538.1)   71689  -  A  T  A  T        Multi
3121  Setaria.italica (KF646538.1)   71690  -  G  A  G  A        Multi
3122  Setaria.italica (KF646538.1)   71691  -  T  T  T  T        Multi
3123  Setaria.italica (KF646538.1)   71692  -  G  G  G  G        Multi
3124  Setaria.italica (KF646538.1)   71693  -  T  T  T  T        Multi
3125  Setaria.italica (KF646538.1)   71694  -  A  A  A  A        Multi
3126  Setaria.italica (KF646538.1)   71695  -  T  T  T  T        Multi
3127  Setaria.italica (KF646538.1)   73348  A  G  G  G  G       Single
3128  Setaria.italica (KF646538.1)   80764  T  C  C  C  C       Single
3129  Setaria.italica (KF646538.1)   81413  G  T  T  T  T       Single
3130  Setaria.italica (KF646538.1)   85237  A  G  G  G  G       Single
3131  Setaria.italica (KF646538.1)  113698  G  -  T  -  T       Single
3132  Setaria.italica (KF646538.1)  115871  A  -  T  -  T       Single

     Operation
3099     Mixed
3100     Mixed
3101     Mixed
3102     Mixed
3103     Mixed
3104     Mixed
3105     Mixed
3106     Mixed
3107     Mixed
3108     Mixed
3109     Mixed
3110     Mixed
3111     Mixed
3112     Mixed
3113     Mixed
3114     Mixed
3115     Mixed
3116     Mixed
3117     Mixed
3118     Mixed
3119     Mixed
3120     Mixed
3121     Mixed
3122     Mixed
3123     Mixed
3124     Mixed
3125     Mixed
3126     Mixed
3127     Mixed
3128     Mixed
3129     Mixed
3130     Mixed
3131     Mixed
3132     Mixed
                                 0       1  2  3  4  5  6  7  8  9 10 11  \
3133  Setaria.viridis (KT289405.1)    1444  A  -  -  -  -  -  -  -  -  -
3134  Setaria.viridis (KT289405.1)    4144  -  A  A  A  A  A  A  A  A  A
3135  Setaria.viridis (KT289405.1)    4145  -  T  T  T  T  T  T  T  T  T
3136  Setaria.viridis (KT289405.1)    4146  -  T  T  T  T  T  T  T  T  T
3137  Setaria.viridis (KT289405.1)    4147  -  T  T  T  T  T  T  T  T  T
...                            ...     ... .. .. .. .. .. .. .. .. .. ..
4226  Setaria.viridis (KT289405.1)  113697  -  C  C  C  C  C  C  C  C  C
4227  Setaria.viridis (KT289405.1)  113698  -  G  G  T  G  G  G  G  G  T
4228  Setaria.viridis (KT289405.1)  115871  -  A  A  T  A  A  A  A  A  T
4229  Setaria.viridis (KT289405.1)  115872  -  A  A  A  A  A  A  A  A  A
4230  Setaria.viridis (KT289405.1)  116652  A  T  T  T  T  T  T  T  T  T

     Single/Multi Operation
3133       Single     Mixed
3134        Multi     Mixed
3135        Multi     Mixed
3136        Multi     Mixed
3137        Multi     Mixed
...           ...       ...
4226        Multi     Mixed
4227        Multi     Mixed
4228        Multi     Mixed
4229        Multi     Mixed
4230       Single     Mixed

[1098 rows x 14 columns]

<ipython-input-25-62be40082b15>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ramka['Single/Multi'] = 'Multi'
<ipython-input-25-62be40082b15>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ramka['Operation'] = 'Mixed'
<ipython-input-25-62be40082b15>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ramka['Single/Multi'] = 'Multi'
<ipython-input-25-62be40082b15>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ramka['Operation'] = 'Mixed'
<ipython-input-25-62be40082b15>:19: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  indeksy_insertion = ramka[(ramka.iloc[:, 2] != '-') & (ramka.iloc[:, 3:-2].apply(lambda x: len(x.unique()) == 1))].index
<ipython-input-25-62be40082b15>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ramka['Single/Multi'] = 'Multi'
<ipython-input-25-62be40082b15>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ramka['Operation'] = 'Mixed'
<ipython-input-25-62be40082b15>:19: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  indeksy_insertion = ramka[(ramka.iloc[:, 2] != '-') & (ramka.iloc[:, 3:-2].apply(lambda x: len(x.unique()) == 1))].index
<ipython-input-25-62be40082b15>:19: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  indeksy_insertion = ramka[(ramka.iloc[:, 2] != '-') & (ramka.iloc[:, 3:-2].apply(lambda x: len(x.unique()) == 1))].index
<ipython-input-25-62be40082b15>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ramka['Single/Multi'] = 'Multi'
<ipython-input-25-62be40082b15>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ramka['Operation'] = 'Mixed'
<ipython-input-25-62be40082b15>:19: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  indeksy_insertion = ramka[(ramka.iloc[:, 2] != '-') & (ramka.iloc[:, 3:-2].apply(lambda x: len(x.unique()) == 1))].index
<ipython-input-25-62be40082b15>:19: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  indeksy_insertion = ramka[(ramka.iloc[:, 2] != '-') & (ramka.iloc[:, 3:-2].apply(lambda x: len(x.unique()) == 1))].index